html::-webkit-scrollbar{
  display:none;
}

html{
  overflow-x: hidden;
}

body{
  padding: 4.3% 3.5%;
  margin: 0;
  position: relative;
}

#headimgs{
  width: 74%;
  transform: rotate(-7.6deg);
  margin: 0 21% -9% 5%;
  padding-top: 16%;
}

#bgimgs{
  width: 100%;
}

#bgimgs img{
  position: absolute;
}

#blue-container{
  background-color: #5CB4EF;
  width: 100%;
  padding: 0.84% 0;
  /* height: 2100px; */
}

#red-container{
  background-color: #9B0534;
  width: 100%;
  padding: 7.7% 0 13.3% 0
}

#white-container{
  background-color: #FFF;
  width: 98.32%;
  margin: 0 auto;
  /* height: 44%; */
}

#logos{
  position: relative;
  left: -6%;
  width: 125%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 16.6% 0;
  /* white-space: nowrap; */
}

#explanation{
  display:flex;
  justify-content: space-between;
  padding: 18.2% 0 16.7% 0;
  width: 84.8%;
  margin-right: 7.2%;
  margin-left: 8%;
}

.video-container{
  position: relative;
  width: 100%;
  padding-top: 39.375%;
  margin: 5.5% 0 0 0;
}

.video{
  position: absolute;
  top: 0;
  left: 15%;
  width: 70% !important;
  height: 100% !important;
}

#countdown{
  background-color: #5CB4EF;
  text-align: center;
  color: white;
}

#countdown p{
  margin-top: 0;
  font-size: 3vw;
  font-family: "GenShinGothic-Heavy";
}
