@font-face {
  font-family: "GenShinGothic-Medium";
  src: url("./assets/font/GenShinGothic-Medium.woff2") format("woff2"),
       url("./assets/font/GenShinGothic-Medium.woff") format("woff");
}

@font-face {
  font-family: "GenShinGothic-Heavy";
  src: url("./assets/font/GenShinGothic-Heavy.woff2") format("woff2"),
       url("./assets/font/GenShinGothic-Heavy.woff") format("woff");
}

@keyframes popup {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes disableScroll {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

html{
  overflow-x: hidden;
  overflow-y: hidden;
  animation: disableScroll .1s linear 4.4s 1 normal forwards;
}

body{
  padding: 4.3% 3.5% 0 3.5%;
  margin: 0;
  position: relative;
}

#headimgs{
  width: 74%;
  -webkit-transform: rotate(-7.6deg);
          transform: rotate(-7.6deg);
  margin: 0 21% -9% 5%;
  padding-top: 16%;
  clip-path: inset(0 100% 0 0);
  animation: slide 2s ease 1s 1 normal forwards;
}

#bgimgs{
  width: 100%;
}

#bgimgs img{
  position: absolute;
  animation: fadein 0.5s ease 4.5s 1 normal forwards;
  opacity: 0;
}

#blue-container{
  background-color: #5CB4EF;
  width: 100%;
  padding: 0.84% 0;
  /* height: 2100px; */
}

#white-container{
  background-color: #FFF;
  width: 98.32%;
  margin: 0 auto;
  /* height: 44%; */
}

#logos{
  position: relative;
  left: -6%;
  width: 125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 0 16.6% 0;
  /* white-space: nowrap; */
}

#explanation{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18.2% 0 16.7% 0;
  width: 84.8%;
  margin-right: 7.2%;
  margin-left: 8%;
}

#red-container{
  background-color: #9B0534;
  width: 100%;
  padding: 13.3% 0 18.2% 0
}

.video-container{
  position: relative;
  width: 100%;
  padding-top: 39.375%;
  margin: 5.5% 0 0 0;
}

.video{
  position: absolute;
  top: 0;
  left: 15%;
  width: 70% !important;
  height: 100% !important;
}

#countdown{
  background-color: #5CB4EF;
  text-align: center;
  color: white;
  padding: 22% 0 22% 0;
  position: relative;
  z-index: -10;
}

#countdown-container{
  width: 41.7%;
  margin: 0 auto;
}

#countdown p{
  margin-top: 0;
  font-family: "GenShinGothic-Heavy";
}

#leftdate{
  font-size: 3.12vw;
  padding: 5% 0 0 0;
  width: 53.7%;
  margin: 0 auto;
  position: relative;
}

#leftdate::after {
  position: absolute;
  bottom: 16%;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  padding-bottom: 7.25%;
  background-color: #FE79B2;
}
