html::-webkit-scrollbar{
  display:none;
}

html{
  overflow-x: hidden;
}

body{
  padding: 4.3% 3.5%;
  margin: 0;
  position: relative;
}

#headimgs{
  width: 72%;
  transform: rotate(-7.6deg);
  margin: 0 21% -9% 7%;
  padding-top: 16%;
}

#bgimgs{
  width: 100%;
}

#bgimgs img{
  position: absolute;
}

#blue-container{
  background-color: #5CB4EF;
  width: 100%;
  padding: 0.84% 0;
  /* height: 2100px; */
}

#red-container{
  background-color: #9B0534;
  width: 100%;
  height: 1300px;
}

#white-container{
  background-color: #FFF;
  width: 98.32%;
  margin: 0 auto;
  /* height: 44%; */
}

#logos{
  position: relative;
  left: -6%;
  width: 125%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 0 16.6% 0;
  /* white-space: nowrap; */
}
