<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Knock & Dive | 第75回灘校文化祭</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./img/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="bgimgs">
        <img v-for="img in imgs" :key="img.id" :src="'./img/bgimgs/' + img.name" :style="{width: img.width*100/1920 + 'vw', top: img.top*100/1920 + 'vw', left: img.left*100/1920 + 'vw'}">
      </div>
      <div id="blue-container">
        <div id="white-container">
          <div id="headimgs">
            <img src="./img/第75回灘校文化祭.svg" style="width:26%; margin-bottom: 2%;">
            <img src="./img/type.svg" style="width:52%; margin-right: 3%">
            <img src="./img/5月2日から5月3日.svg" style="width:16%; transform:rotate(7.6deg); margin-bottom: 2%;">
          </div>
          <div id="logos">
            <img v-for="id in 9" :src="'./img/logo/logo'+id+'.svg'" :style="{ width: (1.8*id+0.9) + '%' ,animation: 'popup 0.4s ease '+(0.1*id+3)+'s 1 normal forwards',transform: 'scale(0)'}">
          </div>
        </div>
        <div id="explanation">
          <explanation-box v-for="explanation in explanations" v-bind="explanation" :key="explanation.id" style="width: 48.5%">
        </div>
      </div>
      <div id="red-container">
        <div style="width: 21.2%; margin: 0 auto;">
          <img src="./img/conceptvideo.svg" style="width: 100%;">
        </div>
        <div class="video-container">
          <iframe class="video" src="https://www.youtube.com/embed/UuAKaZj4XFk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div id="countdown" v-if="left>=0">
        <div id="countdown-container">
          <p style="font-size: 2.08vw;"><img src="./img/white_Knock&Dive.svg" style="width:85.8%; margin: 0 3% -0.6% 0">まで</p>
          <p id ="leftdate">あと<span style="font-size: 7.8vw; !important">{{ left }}</span>日</p>
        </div>
      </div>
      <script src="./script.js"></script>
    </div>
  </body>
</html>
